/*Fontes Utilizadas*/
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body, input, select, button {
    font-family: 'Prata', serif;
}

.tituloFormulario {
    font-size: 1.2em;
    text-align: center;
}

.divFormulario{
    background-color: #F8F8F8;
    padding: 0px 30px 30px 30px;
    width: 550px;
    border-radius: 30px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: left;
}

form > div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin-right: 10px;
    margin-bottom: 5px;
    font-weight: bolder;
    font-family: "Montserrat", sans-serif;
}

input[type='text'], input[type='file'], select {
    padding: 8px;
    margin-top: 5px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    font-family: "Montserrat", sans-serif;
}

.buttonFormulario{
    padding: 10px 20px;
    background-color: #6D72FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    font-weight: bolder;
}

.buttonFormulario:hover {
    background-color: #0056b3;
}